<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DomZdravlja1.Properties.Settings.DomZdravljaConnectionString"
            connectionString="Data Source=DESKTOP-ABSG413\SQLEXPRESS;Initial Catalog=DomZdravlja;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>